.main-page {
    background-image: url("../../../assets/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    height: 90vh;
    /* This makes sure that the hero section takes the full viewport height */
    gap: 100px;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    /* This will make sure the product section 
    takes up as much space as it can */
    flex-shrink: 0;
    gap: 250px;
    margin-top: 100px;
}


.product-image {
    width: 90%; /* The carousel will take the width of its parent */
    max-width: 600px; /* Maximum width of the carousel */
    /* Remove the margin: auto; to avoid centering conflicts */
}

/* Carousel container sizing */
.product-image .carousel {
    width: 100%; /* Ensures the carousel container is responsive */
    max-width: 100%; /* Ensures the carousel container does not exceed its parent's width */
}

/* Carousel item sizing */
.product-image .carousel .carousel-item {
    height: auto; /* Height is responsive to the image's aspect ratio */
}

/* Carousel image sizing */
.product-image .carousel .carousel-item img {
    width: 100%; /* Image width is responsive */
    height: auto; /* Height is responsive to maintain aspect ratio */
    object-fit: cover; /* Ensures image covers the item area */
}




.order-button {
    text-align: center;
    font-size: x-large;
    background-color: hsla(0, 100%, 28%, 0.777);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 35px;
    border-radius: 20px;
    transition: 200ms;
}

.order-button:hover {
    background-color: hsl(0, 100%, 21%);
}

.product-info {
    background-color: rgba(0, 0, 0, 0.664);
    margin-top: 130px;
    color: whitesmoke;
    max-width: 300px;
    /* Adjust as necessary */

    padding: 30px;
    border-radius: 20px;

    /* Gives some space around the text */

}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* This centers the product info boxes */
    gap: 80px;
    /* Adjust the gap between the product info components as needed */
}

@media (max-width: 1140px) {

    /* Adjust this value based on when you want to switch to a column layout */
    .main-page {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .product-image {
        margin-top: 10px; /* Smaller top margin on mobile */
        width: 90%; /* Slightly less width on mobile to provide padding */
        max-width: none; /* Allow it to take the full width of its parent */
    }

    .product-section {
        width: 100%;
        /* Full width */
        align-items: center;
        order: 1;
        /* Ensures the product-section comes first */
        gap: 90px;
    }

    .order-button {
        order: 2;
        /* Place it after the product-image */
    }

    .product-info-container {
        /* Stack the ProductInfo components in a single column */
        flex-direction: column;
        /* Full width */
        align-items: center;
        /* Center align the ProductInfo components */
        order: 3;
        /* Place it after the product-section */
        gap: 40px;
        width: 100%;
        margin-bottom: 20px;
    }

    .product-info {
        display: block;
        margin-top: 0px;
    }
}