.main-page {
    background-image: url("/Users/iosuapaul/Desktop/wood-website/src/assets/background-img.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    height: 100vh;
    /* This makes sure that the hero section takes the full viewport height */
    gap: 100px;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    /* This will make sure the product section 
    takes up as much space as it can */
    flex-shrink: 0;
    gap: 200px;
}

.product-image {
    margin-top: 200px;
    background-image: url('/Users/iosuapaul/Desktop/wood-website/src/assets/black.jpg');
    background-size: cover;
    background-position: center;
    width: 300px;
    /* Adjust as necessary */
    height: 300px;
    /* Adjust as necessary */
}

.order-button {
    text-align: center;
    background-color:hsla(0, 100%, 28%, 0.777);
    color:#fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 25px;
    border-radius: 20px;
    transition: 200ms;
}

.order-button:hover {
    background-color: hsl(0, 100%, 21%);
}

.product-info {
    background-color: rgba(0, 0, 0, 0.664);
    margin-top: 130px;
    color: whitesmoke;
    max-width: 300px;
    /* Adjust as necessary */

    padding: 30px;
    border-radius: 20px;

    /* Gives some space around the text */

}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* This centers the product info boxes */
    gap: 150px;
    /* Adjust the gap between the product info components as needed */
}

@media (max-width: 768px) {

    /* Adjust this value based on when you want to switch to a column layout */
    .main-page {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .product-image {
        margin-top: 100px;
        width: 50%;
    }

    .product-section {
        width: 100%;
        /* Full width */
        align-items: center;
        order: 1;
        /* Ensures the product-section comes first */
        gap: 85px;
    }

    .order-button {
        order: 2;
        /* Place it after the product-image */
    }

    .product-info-container {
        /* Stack the ProductInfo components in a single column */
        flex-direction: column;
        /* Full width */
        align-items: center;
        /* Center align the ProductInfo components */
        order: 3;
        /* Place it after the product-section */
        gap: 40px;
        width: 100%;
    }

    .product-info {
        display: block;
        margin-top: 20px;
    }
}