/* Default styles (for larger screens) */
.main-section {
    padding: 40px;
}

/* Small screen styles */
@media (max-width: 600px) {
    .main-section {
        background-color: rgba(0, 0, 0, 0.6);
        /* Background opacity */
        padding: 20px;
        width: 100%;
        min-height: 85vh;
        /* Ensure it covers the full viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
        /* Make the container take the full width on mobile */
        margin: 0;
        border-radius: 10px;
        padding: 20px;
    }
}